<html>
<head>
  <title>AUTOMAÇÃO com SELENIUN</title>
</head>
<body>
    <p>Projeto: <b>BrTaskerBot</b></p>
  <h1>FUNÇÃO 01</h1>
  <h2>Relatório de Inadimplência</h2>
  </body>
</html>

In [78]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import WebDriverException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from tqdm import tqdm
import pyautogui as py
import pandas as pd
import time
import os

servico = Service(ChromeDriverManager().install())
url = "https://ssl.brcondos.com.br/Reports/UnitOverdueSynthetic"

## Funções Scrapping

In [79]:
def scrapp_resumo(condo):
    # Pegar RESUMO da Indimplência
    tabela_resumo_inadimp = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="content"]/div[1]/div[2]/div/table/tbody')))
    tabela_resumo_inadimp = tabela_resumo_inadimp.text
    # Processar o conteúdo de texto para criar uma lista de linhas
    linhas_resumo = tabela_resumo_inadimp.split('\n')
    # Processar cada linha para criar uma lista de colunas
    dados_resumo = [linha.split() for linha in linhas_resumo]
    # Criar o DataFrame
    df_resumo_inadimp = pd.DataFrame(dados_resumo)
    display(df_resumo_inadimp)

In [80]:
def scrapp_relatorio(condo):
    # Pegar RELATÓRIO da Indimplência
    tabela_relatorio_inadimp = wait.until(EC.presence_of_element_located((
        By.XPATH, '//*[@id="toLoading"]/div/div/div')))
    tabela_relatorio_inadimp = tabela_relatorio_inadimp.text
    # Processar o conteúdo de texto para criar uma lista de linhas
    linhas_relatorio = tabela_relatorio_inadimp.split('\n')
    # Processar cada linha para criar uma lista de colunas
    dados_relatorio_inadimp = [linha.split() for linha in linhas_relatorio]
    # Criar o DataFrame
    df_relatorio_inadimp = pd.DataFrame(dados_relatorio_inadimp)
    # Exibir o DataFrame
    display(df_relatorio_inadimp.head(5))

## Dados

In [81]:
# Database dos condomínio
tabela = pd.read_excel(r"TABELACONDOMINIOS.xlsx", sheet_name="JUR")
condos = tabela["CONDOMINIO"].tolist()
adv = tabela["ADVOGADO"].tolist()
emailadv = tabela["EMAILADVOGADO"].tolist()
sindico = tabela["SINDICO"].tolist()
emailsindico = tabela["EMAILSINDICO"].tolist()
#display(condo)

## Navegador

In [82]:
# Configurações do Navegador // Desativar as Notificações do Chrome
chrome_options = webdriver.ChromeOptions()
prefs = {"profile.default_content_setting_values.notifications": 2}
chrome_options.add_experimental_option("prefs", prefs)
# chrome_options.add_argument("--headless")  # Executar em modo headless

# Navegador e tempo de espera padrão
navegador = webdriver.Chrome(service=servico, options=chrome_options)
wait = WebDriverWait(navegador, 2)

In [83]:
# logar no sistema BRCondos
navegador.get(url)

navegador.find_element('xpath', '//*[@id="Login"]').send_keys(input("Digite o seu email: "))
navegador.find_element('xpath', '//*[@id="Password"]').send_keys(input("Digite sua senha: "))
navegador.find_element('xpath', '//*[@id="form_login"]/button').click()

### Acesso inicial

In [84]:
## SELECIONA O CONDOMÍNIO INICIAL
time.sleep(2)
# Localizar e clicar no elemento para abrir o campo de entrada
navegador.find_element('xpath', '//*[@id="openModalSelect_chzn"]/div/div').click()

# Aguardar o campo de entrada e inserir o texto
campo_input_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn"]/div/div/input')))
campo_input_condominio.send_keys("ALEGRIA")

# Selecionar o condomínio do primeiro resultado
campo_select_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn_o_1"]')))
time.sleep(1)
campo_select_condominio.click()

time.sleep(1)

# Botão Filtrar por UNIDADE
navegador.find_element(By.XPATH, '//*[@id="form_post"]/div[1]/div[2]/div[2]/label[2]/span').click()

time.sleep(1)

# Gerar Relatório
wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="form_post"]/div[3]/div')))
navegador.find_element(By.XPATH, '//*[@id="form_post"]/div[3]/div').click()

# Esperar tabela carregar
wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="toLoading"]/div/div/div')))

time.sleep(1)

### Loop com Tratamento de erro

In [74]:
checkpoint_file = "checkpoint.txt"
max_errors = 3

# Verificar o último checkpoint
if os.path.exists(checkpoint_file):
    with open(checkpoint_file, "r") as f:
        last_successful_index = int(f.read())
else:
    last_successful_index = 0

# Contador de erros
error_count = 0

# Loop sobre os condomínios
for i in tqdm(range(last_successful_index, len(condos))):
    condo = condos[i]
    
    while True:
        try:
            # Abrir janela para trocar condomínio
            navegador.find_element('xpath', '/html/body/header/div/div[3]/div/div[4]/div[1]/div/div[2]/div').click()
            time.sleep(1)
            
            # Localizar e clicar no elemento para abrir o campo de entrada
            elemento_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn"]/div/div')))
            time.sleep(2)
            elemento_condominio.click()

            # Localizar o campo de entrada e inserir o texto
            campo_input_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn"]/div/div/input')))
            time.sleep(2)
            campo_input_condominio.send_keys(condo)

            # Selecionar o condomínio do primeiro resultado
            campo_select_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn_o_1"]')))
            time.sleep(1)
            campo_select_condominio.click()

            wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="toLoading"]/div/div/div/table/tbody')))

            time.sleep(1)
            
            
            #### FUNÇÕES SCRAPPING ####

            print("*" * 30, condo, "*" * 30)
            print( )
            print ("RESUMO DA INADIMPLÊNCIA")
            scrapp_resumo(condo)

#             print("*" * 80)
#             print( )
#             print ("RELATÓRIO")
#             scrapp_relatorio(condo)

            ###########################

            
            # Atualizar o checkpoint para o próximo índice
            with open(checkpoint_file, "w") as f:
                f.write(str(i + 1))
            
            # Redefinir o contador de erros
            error_count = 0
            
            break
        except WebDriverException as e:
            print(f"Erro ao processar o condomínio {condo}: {str(e)}")
            if "502 Bad Gateway" in str(e):
                print("Tentando novamente após atualizar a página...")
                navegador.refresh()
                time.sleep(2)
            else:
                error_count += 1
                print(f"Tentativa de número {error_count}")
                if error_count >= max_errors:
                    print("Muitos erros consecutivos. Atualizando e retomando...")
                    with open(checkpoint_file, "w") as f:
                        f.write(str(i))
                    navegador.refresh()
                    time.sleep(2)
                    error_count = 0
                else:
                    print("Tentando novamente...")
                    time.sleep(2)

  0%|                                                                                           | 0/40 [00:00<?, ?it/s]

****************************** ALDEIA DA MATA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          07    (4,86%)        None
2       Valor          Total          R$  60.802,16        None
3       Valor          Total       Juros         R$   45.835,57
4       Valor          Total       Multa         R$    1.623,43
5       Valor          Total    Correção         R$   20.371,59
6       Valor          Total      Devido         R$  128.632,75
7  Quantidade             de     Faturas        134        None

  2%|██                                                                                 | 1/40 [00:14<09:44, 14.98s/it]

****************************** ALEGRIA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          28    (28,00%)        None
2       Valor          Total          R$  120.765,66        None
3       Valor          Total       Juros          R$   38.204,34
4       Valor          Total       Multa          R$    2.801,51
5       Valor          Total    Correção          R$   19.328,66
6       Valor          Total      Devido          R$  181.100,17
7  Quantidade             de     Faturas         359        None

  5%|████▏                                                                              | 2/40 [00:30<09:36, 15.18s/it]

****************************** AMBIANCE ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          27   (14,67%)        None
2       Valor          Total          R$  88.204,08        None
3       Valor          Total       Juros         R$   34.326,09
4       Valor          Total       Multa         R$    2.092,38
5       Valor          Total    Correção         R$   16.425,58
6       Valor          Total      Devido         R$  141.048,13
7  Quantidade             de     Faturas        233        None

  8%|██████▏                                                                            | 3/40 [00:46<09:37, 15.62s/it]

****************************** ANDORINHAS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          54    (27,00%)        None
2       Valor          Total          R$  130.872,44        None
3       Valor          Total       Juros          R$   11.306,82
4       Valor          Total       Multa          R$    2.644,67
5       Valor          Total    Correção          R$    1.356,08
6       Valor          Total      Devido          R$  146.180,01
7  Quantidade             de     Faturas         394        None

 10%|████████▎                                                                          | 4/40 [01:03<09:45, 16.26s/it]

****************************** ANUNCIATTA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          06    (6,25%)       None
2       Valor          Total          R$  41.920,98       None
3       Valor          Total       Juros         R$   4.554,07
4       Valor          Total       Multa         R$     877,43
5       Valor          Total    Correção         R$   1.951,39
6       Valor          Total      Devido         R$  49.303,87
7  Quantidade             de     Faturas         42       None

 12%|██████████▍                                                                        | 5/40 [01:15<08:26, 14.48s/it]

****************************** CAMPO BASSO ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          24   (20,00%)       None
2       Valor          Total          R$  40.023,05       None
3       Valor          Total       Juros         R$   1.403,67
4       Valor          Total       Multa         R$     815,79
5       Valor          Total    Correção         R$     765,38
6       Valor          Total      Devido         R$  43.007,89
7  Quantidade             de     Faturas         99       None

 15%|████████████▍                                                                      | 6/40 [01:25<07:27, 13.17s/it]

****************************** COPAIBA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          22   (16,18%)       None
2       Valor          Total          R$  55.345,42       None
3       Valor          Total       Juros         R$  11.106,87
4       Valor          Total       Multa         R$   1.194,34
5       Valor          Total    Correção         R$   4.356,30
6       Valor          Total      Devido         R$  72.002,93
7  Quantidade             de     Faturas        149       None

 18%|██████████████▌                                                                    | 7/40 [01:38<07:10, 13.04s/it]

****************************** ESTADOS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          08    (11,11%)        None
2       Valor          Total          R$  101.611,83        None
3       Valor          Total       Juros          R$  192.019,00
4       Valor          Total       Multa          R$    3.359,33
5       Valor          Total    Correção          R$   66.354,46
6       Valor          Total      Devido          R$  363.344,62
7  Quantidade             de     Faturas         361        None

 20%|████████████████▌                                                                  | 8/40 [01:53<07:20, 13.77s/it]

****************************** FLAMBOYANT ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes         167    (50,61%)        None
2       Valor          Total          R$  371.773,74        None
3       Valor          Total       Juros          R$   83.519,47
4       Valor          Total       Multa          R$    8.136,62
5       Valor          Total    Correção          R$   35.116,72
6       Valor          Total      Devido          R$  498.546,55
7  Quantidade             de     Faturas        1615        None

 22%|██████████████████▋                                                                | 9/40 [02:39<12:12, 23.63s/it]

****************************** FLAMINGOS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          40   (20,00%)        None
2       Valor          Total          R$  89.467,34        None
3       Valor          Total       Juros         R$    8.095,63
4       Valor          Total       Multa         R$    1.816,17
5       Valor          Total    Correção         R$    1.339,56
6       Valor          Total      Devido         R$  100.718,70
7  Quantidade             de     Faturas        278        None

 25%|████████████████████▌                                                             | 10/40 [02:59<11:17, 22.57s/it]

****************************** FORLIFE PARK ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          11    (9,17%)       None
2       Valor          Total          R$  24.140,36       None
3       Valor          Total       Juros         R$   2.274,26
4       Valor          Total       Multa         R$     484,41
5       Valor          Total    Correção         R$      79,91
6       Valor          Total      Devido         R$  26.978,94
7  Quantidade             de     Faturas         56       None

 28%|██████████████████████▌                                                           | 11/40 [03:10<09:16, 19.19s/it]

****************************** GIRASSOIS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          25    (9,77%)       None
2       Valor          Total          R$  41.130,30       None
3       Valor          Total       Juros         R$   2.243,74
4       Valor          Total       Multa         R$     823,98
5       Valor          Total    Correção         R$      73,79
6       Valor          Total      Devido         R$  44.271,81
7  Quantidade             de     Faturas        129       None

 30%|████████████████████████▌                                                         | 12/40 [03:22<07:51, 16.85s/it]

****************************** HARMONIA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          59   (26,34%)       None
2       Valor          Total          R$  53.633,52       None
3       Valor          Total       Juros         R$   1.503,34
4       Valor          Total       Multa         R$   1.081,11
5       Valor          Total    Correção         R$     419,62
6       Valor          Total      Devido         R$  56.637,59
7  Quantidade             de     Faturas        193       None

 32%|██████████████████████████▋                                                       | 13/40 [03:35<07:05, 15.74s/it]

****************************** HUMA KLABIN ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          06    (9,68%)       None
2       Valor          Total          R$  15.315,91       None
3       Valor          Total       Juros         R$     217,89
4       Valor          Total       Multa         R$     306,88
5       Valor          Total    Correção         R$      28,15
6       Valor          Total      Devido         R$  15.868,83
7  Quantidade             de     Faturas         08       None

 35%|████████████████████████████▋                                                     | 14/40 [03:45<06:03, 14.00s/it]

****************************** ITAJUIBE ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          29   (20,71%)       None
2       Valor          Total          R$  55.877,93       None
3       Valor          Total       Juros         R$   8.355,04
4       Valor          Total       Multa         R$   1.136,53
5       Valor          Total    Correção         R$     951,08
6       Valor          Total      Devido         R$  66.320,58
7  Quantidade             de     Faturas        146       None

 38%|██████████████████████████████▊                                                   | 15/40 [03:56<05:30, 13.21s/it]

****************************** JARDINS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          44    (24,44%)        None
2       Valor          Total          R$  158.692,15        None
3       Valor          Total       Juros          R$   29.897,47
4       Valor          Total       Multa          R$    3.436,15
5       Valor          Total    Correção          R$   13.108,46
6       Valor          Total      Devido          R$  205.134,23
7  Quantidade             de     Faturas         415        None

 40%|████████████████████████████████▊                                                 | 16/40 [04:13<05:45, 14.38s/it]

****************************** LATANIA I ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          14   (14,58%)       None
2       Valor          Total          R$  23.739,17       None
3       Valor          Total       Juros         R$   2.773,86
4       Valor          Total       Multa         R$     481,60
5       Valor          Total    Correção         R$     339,76
6       Valor          Total      Devido         R$  27.334,39
7  Quantidade             de     Faturas         83       None

 42%|██████████████████████████████████▊                                               | 17/40 [04:27<05:24, 14.12s/it]

****************************** LATANIA II ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          13   (10,48%)       None
2       Valor          Total          R$  33.353,52       None
3       Valor          Total       Juros         R$   3.449,67
4       Valor          Total       Multa         R$     669,64
5       Valor          Total    Correção         R$     137,22
6       Valor          Total      Devido         R$  37.610,05
7  Quantidade             de     Faturas        115       None

 45%|████████████████████████████████████▉                                             | 18/40 [04:38<04:49, 13.17s/it]

****************************** MARAJOARA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          14    (6,86%)       None
2       Valor          Total          R$  32.275,19       None
3       Valor          Total       Juros         R$   1.076,85
4       Valor          Total       Multa         R$     645,46
5       Valor          Total    Correção         R$       0,00
6       Valor          Total      Devido         R$  33.997,50
7  Quantidade             de     Faturas         40       None

 48%|██████████████████████████████████████▉                                           | 19/40 [04:48<04:15, 12.16s/it]

****************************** MAXHAUS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          10    (6,76%)       None
2       Valor          Total          R$  14.011,30       None
3       Valor          Total       Juros         R$     848,90
4       Valor          Total       Multa         R$     280,72
5       Valor          Total    Correção         R$      22,27
6       Valor          Total      Devido         R$  15.163,19
7  Quantidade             de     Faturas         38       None

 50%|█████████████████████████████████████████                                         | 20/40 [04:57<03:47, 11.35s/it]

****************************** PARDAIS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          54    (27,00%)        None
2       Valor          Total          R$  128.267,05        None
3       Valor          Total       Juros          R$    8.965,57
4       Valor          Total       Multa          R$    2.631,78
5       Valor          Total    Correção          R$    3.335,68
6       Valor          Total      Devido          R$  143.200,08
7  Quantidade             de     Faturas         397        None

 52%|███████████████████████████████████████████                                       | 21/40 [05:14<04:07, 13.01s/it]

****************************** PARQUE VITORIA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          57    (40,14%)        None
2       Valor          Total          R$  148.310,09        None
3       Valor          Total       Juros          R$    9.022,92
4       Valor          Total       Multa          R$    3.027,88
5       Valor          Total    Correção          R$    3.103,02
6       Valor          Total      Devido          R$  163.463,91
7  Quantidade             de     Faturas         346        None

 55%|█████████████████████████████████████████████                                     | 22/40 [05:26<03:48, 12.71s/it]

Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio PASSAROS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
****************************** PASSAROS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          49    (30,63%)        None
2       Valor          Total          R$  100.050,52        None
3       Valor          Total       Juros          R$   15.938,21
4       Valor          Total       Multa          R$    2.140,80
5       Valor          Total    Correção          R$    6.988,92
6       Valor          Total      Devido          R$  125.118,45
7  Quantidade             de     Faturas         334        None

 57%|███████████████████████████████████████████████▏                                  | 23/40 [06:24<07:28, 26.37s/it]

****************************** PATIO ANDALUZ ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          18    (5,00%)       None
2       Valor          Total          R$  23.652,02       None
3       Valor          Total       Juros         R$   1.569,85
4       Valor          Total       Multa         R$     475,00
5       Valor          Total    Correção         R$      99,07
6       Valor          Total      Devido         R$  25.795,94
7  Quantidade             de     Faturas         54       None

 60%|█████████████████████████████████████████████████▏                                | 24/40 [06:36<05:51, 21.95s/it]

****************************** PERFETTO ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          39   (24,38%)       None
2       Valor          Total          R$  38.509,75       None
3       Valor          Total       Juros         R$     842,98
4       Valor          Total       Multa         R$     778,75
5       Valor          Total    Correção         R$     431,06
6       Valor          Total      Devido         R$  40.562,54
7  Quantidade             de     Faturas        116       None

 62%|███████████████████████████████████████████████████▎                              | 25/40 [06:47<04:40, 18.73s/it]

****************************** PORTO FELIZ ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes         125    (31,25%)        None
2       Valor          Total          R$  579.042,63        None
3       Valor          Total       Juros          R$  244.490,43
4       Valor          Total       Multa          R$   13.880,29
5       Valor          Total    Correção          R$  114.880,65
6       Valor          Total      Devido          R$  952.294,00
7  Quantidade             de     Faturas        1984        None

 65%|█████████████████████████████████████████████████████▎                            | 26/40 [07:32<06:10, 26.45s/it]

****************************** ROSSI MAIS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          24   (16,90%)        None
2       Valor          Total          R$  83.519,73        None
3       Valor          Total       Juros         R$   13.565,86
4       Valor          Total       Multa         R$    1.789,33
5       Valor          Total    Correção         R$    5.947,61
6       Valor          Total      Devido         R$  104.822,53
7  Quantidade             de     Faturas        108        None

 68%|███████████████████████████████████████████████████████▎                          | 27/40 [07:53<05:23, 24.91s/it]

****************************** SABIAS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          49   (24,50%)       None
2       Valor          Total          R$  67.112,23       None
3       Valor          Total       Juros         R$   4.438,48
4       Valor          Total       Multa         R$   1.349,50
5       Valor          Total    Correção         R$     355,20
6       Valor          Total      Devido         R$  73.255,41
7  Quantidade             de     Faturas        218       None

 70%|█████████████████████████████████████████████████████████▍                        | 28/40 [08:02<04:01, 20.09s/it]

Erro ao processar o condomínio SAINT MICHAEL: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio SAINT MICHAEL: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio SAINT MICHAEL: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
****************************** SAINT MICHAEL ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2         3         4
0        Data           Base  29/06/2023      None      None
1    Unidades  Inadimplentes          04   (6,90%)      None
2       Valor          Total          R$  6.708,71      None
3       Valor          Total       Juros        R$    105,31
4       Valor          Total       Multa        R$    135,11
5       Valor          Total    Correção        R$     47,14
6       Valor          Total      Devido        R$  6.996,27
7  Quantidade             de     Faturas        07      None

 72%|███████████████████████████████████████████████████████████▍                      | 29/40 [08:32<04:13, 23.02s/it]

****************************** SANS SOUCI ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2             3             4
0        Data           Base  29/06/2023          None          None
1    Unidades  Inadimplentes          13      (11,30%)          None
2       Valor          Total          R$  1.354.384,80          None
3       Valor          Total       Juros            R$  1.374.560,63
4       Valor          Total       Multa            R$     35.665,23
5       Valor          Total    Correção            R$    428.877,16
6       Valor          Total      Devido            R$  3.193.487,82
7  Quantidade             de     Faturas           472          None

 75%|█████████████████████████████████████████████████████████████▌                    | 30/40 [08:40<03:06, 18.68s/it]

Erro ao processar o condomínio SANTA MONICA: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio SANTA MONICA: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio SANTA MONICA: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
****************************** SANTA MONICA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes         158    (21,94%)        None
2       Valor          Total          R$  553.179,87        None
3       Valor          Total       Juros          R$  187.021,26
4       Valor          Total       Multa          R$   12.875,94
5       Valor          Total    Correção          R$   90.980,04
6       Valor          Total      Devido          R$  844.057,11
7  Quantidade             de     Faturas        1600        None

 78%|███████████████████████████████████████████████████████████████▌                  | 31/40 [09:16<03:34, 23.88s/it]

Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 1
Tentando novamente...
Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 2
Tentando novamente...
Erro ao processar o condomínio SAO DOMINGOS: Message: element not interactable
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x002BA813+48355]
	(No symbol) [0x0024C4B1]
	(No symbol) [0x00155220]
	(No symbol) [0x00181846]
	(No symbol) [0x00179F5C]
	(No symbol) [0x0019A73C]
	(No symbol) [0x00179A36]
	(No symbol) [0x0019AA94]
	(No symbol) [0x001AC922]
	(No symbol) [0x0019A536]
	(No symbol) [0x001782DC]
	(No symbol) [0x001793DD]
	GetHandleVerifier [0x0051AABD+2539405]
	GetHandleVerifier [0x0055A78F+2800735]
	GetHandleVerifier [0x0055456C+2775612]
	GetHandleVerifier [0x003451E0+616112]
	(No symbol) [0x00255F8C]
	(No symbol) [0x00252328]
	(No symbol) [0x0025240B]
	(No symbol) [0x00244FF7]
	BaseThreadInitThunk [0x761700C9+25]
	RtlGetAppContainerNamedObjectPath [0x772F7B4E+286]
	RtlGetAppContainerNamedObjectPath [0x772F7B1E+238]
	(No symbol) [0x00000000]

Tentativa de número 3
Muitos erros consecutivos. Atualizando e retomando...
****************************** SAO DOMINGOS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          06    (8,57%)        None
2       Valor          Total          R$  57.815,96        None
3       Valor          Total       Juros         R$   45.803,36
4       Valor          Total       Multa         R$    1.596,56
5       Valor          Total    Correção         R$   22.791,79
6       Valor          Total      Devido         R$  128.007,67
7  Quantidade             de     Faturas        136        None

 80%|█████████████████████████████████████████████████████████████████▌                | 32/40 [10:38<05:29, 41.24s/it]

****************************** SAO JUDAS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3           4
0        Data           Base  29/06/2023       None        None
1    Unidades  Inadimplentes          97   (37,60%)        None
2       Valor          Total          R$  85.569,09        None
3       Valor          Total       Juros         R$   21.384,84
4       Valor          Total       Multa         R$    1.907,31
5       Valor          Total    Correção         R$    9.784,48
6       Valor          Total      Devido         R$  118.645,72
7  Quantidade             de     Faturas        686        None

 82%|███████████████████████████████████████████████████████████████████▋              | 33/40 [11:00<04:08, 35.44s/it]

****************************** SEASONS FAMILY ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes         154    (45,29%)        None
2       Valor          Total          R$  263.890,47        None
3       Valor          Total       Juros          R$   47.609,97
4       Valor          Total       Multa          R$    5.716,67
5       Valor          Total    Correção          R$   21.937,65
6       Valor          Total      Devido          R$  339.154,76
7  Quantidade             de     Faturas        1100        None

 85%|█████████████████████████████████████████████████████████████████████▋            | 34/40 [11:34<03:31, 35.18s/it]

****************************** STUPPENDO ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          44   (20,00%)       None
2       Valor          Total          R$  14.450,30       None
3       Valor          Total       Juros         R$     136,33
4       Valor          Total       Multa         R$     289,82
5       Valor          Total    Correção         R$      40,36
6       Valor          Total      Devido         R$  14.916,81
7  Quantidade             de     Faturas         63       None

 88%|███████████████████████████████████████████████████████████████████████▊          | 35/40 [11:49<02:24, 28.97s/it]

****************************** TAPERAS ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2          3          4
0        Data           Base  29/06/2023       None       None
1    Unidades  Inadimplentes          86   (16,80%)       None
2       Valor          Total          R$  51.185,74       None
3       Valor          Total       Juros         R$     489,02
4       Valor          Total       Multa         R$   1.026,52
5       Valor          Total    Correção         R$     144,84
6       Valor          Total      Devido         R$  52.846,12
7  Quantidade             de     Faturas        116       None

 90%|█████████████████████████████████████████████████████████████████████████▊        | 36/40 [12:01<01:35, 23.84s/it]

****************************** TORRES DO JARDIM ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2        3       4
0        Data           Base  29/06/2023     None    None
1    Unidades  Inadimplentes          01  (0,52%)    None
2       Valor          Total          R$   133,23    None
3       Valor          Total       Juros       R$   34,68
4       Valor          Total       Multa       R$    2,66
5       Valor          Total    Correção       R$    0,00
6       Valor          Total      Devido       R$  170,57
7  Quantidade             de     Faturas       01    None

 92%|███████████████████████████████████████████████████████████████████████████▊      | 37/40 [12:11<00:59, 19.90s/it]

****************************** UNICO SACOMA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          92    (24,60%)        None
2       Valor          Total          R$  225.754,96        None
3       Valor          Total       Juros          R$   15.554,84
4       Valor          Total       Multa          R$    4.658,11
5       Valor          Total    Correção          R$    7.149,27
6       Valor          Total      Devido          R$  253.117,18
7  Quantidade             de     Faturas         517        None

 95%|█████████████████████████████████████████████████████████████████████████████▉    | 38/40 [12:30<00:39, 19.53s/it]

****************************** VILLAGE AZALEIA ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          43    (11,94%)        None
2       Valor          Total          R$  111.869,88        None
3       Valor          Total       Juros          R$   58.878,04
4       Valor          Total       Multa          R$    2.814,50
5       Valor          Total    Correção          R$   28.850,39
6       Valor          Total      Devido          R$  202.412,81
7  Quantidade             de     Faturas         348        None

 98%|███████████████████████████████████████████████████████████████████████████████▉  | 39/40 [12:49<00:19, 19.35s/it]

****************************** VIVA RESIDENCIAL ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          80    (15,87%)        None
2       Valor          Total          R$  167.604,10        None
3       Valor          Total       Juros          R$   20.191,61
4       Valor          Total       Multa          R$    3.390,16
5       Valor          Total    Correção          R$    1.884,71
6       Valor          Total      Devido          R$  193.070,58
7  Quantidade             de     Faturas         549        None

100%|██████████████████████████████████████████████████████████████████████████████████| 40/40 [13:11<00:00, 19.78s/it]

In [62]:
# Limpar histórico do loop
if os.path.exists(checkpoint_file):
    os.remove(checkpoint_file)

## Excel

In [66]:
df_relatorio_inadimp.to_excel(f'BRCondos Relatorio de Inadimplência ALEGRIA ddmmaaaa.xlsx.xlsx', index=False)

In [75]:
df_resumo_inadimp.to_excel(f'BRCondos Resumo da Inadimplência ALL CONDOS.xlsx', index=False)

# Loop

In [135]:
for condo in tqdm(condos):
    
    # Abrir janela para trocar condomínio
    navegador.find_element('xpath', '/html/body/header/div/div[3]/div/div[4]/div[1]/div/div[2]/div').click()
    time.sleep(1)
    
    # Localizar e clicar no elemento para abrir o campo de entrada
    elemento_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn"]/div/div')))
    time.sleep(2)
    elemento_condominio.click()

    # Localizar o campo de entrada e inserir o texto
    campo_input_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn"]/div/div/input')))
    time.sleep(1)
    campo_input_condominio.send_keys(condo)

    # Selecionar o condomínio do primeiro resultado
    campo_select_condominio = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="openModalSelect_chzn_o_1"]')))
    time.sleep(1)
    campo_select_condominio.click()

    wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="toLoading"]/div/div/div')))

    time.sleep(1)

## Scrapping

In [85]:
# Pegar RESUMO da Indimplência
tabela_resumo_inadimp = wait.until(EC.presence_of_element_located((By.XPATH, '//*[@id="content"]/div[1]/div[2]/div/table/tbody')))
tabela_resumo_inadimp = tabela_resumo_inadimp.text
# Processar o conteúdo de texto para criar uma lista de linhas
linhas_resumo = tabela_resumo_inadimp.split('\n')
# Processar cada linha para criar uma lista de colunas
dados_resumo = [linha.split() for linha in linhas_resumo]
# Criar o DataFrame
df_resumo_inadimp = pd.DataFrame(dados_resumo)
# Exibir o DataFrame
print("*"*30, "ALEGRIA", "*"*30)
print(df_resumo_inadimp)

****************************** ALEGRIA ******************************
            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          28    (28,00%)        None
2       Valor          Total          R$  120.765,66        None
3       Valor          Total       Juros          R$   38.204,34
4       Valor          Total       Multa          R$    2.801,51
5       Valor          Total    Correção          R$   19.328,66
6       Valor          Total      Devido          R$  181.100,17
7  Quantidade             de     Faturas         359        None

In [86]:
df_resumo_inadimp.to_excel(f'BRCondos Resumo da Inadimplência ALEGRIA.xlsx', index=False)

In [92]:
# Criar um novo DataFrame com as linhas e colunas desejadas
new_df_resumo_inadimp = pd.DataFrame({
    'Condominio': [condo],
    'Data base': [df_resumo_inadimp.loc[0, 2]],
    'Valor total': [df_resumo_inadimp.loc[6, 4]],
    'Inadimplentes': [df_resumo_inadimp.loc[1, 3]],
})

# Exibir o novo DataFrame
print(new_df_resumo_inadimp)

         Condominio   Data base Valor total Inadimplentes
0  VIVA RESIDENCIAL  29/06/2023  181.100,17      (28,00%)

In [42]:
# Pegar RELATÓRIO da Indimplência
tabela_relatorio_inadimp = wait.until(EC.presence_of_element_located((
    By.XPATH, '//*[@id="toLoading"]/div/div/div')))
tabela_relatorio_inadimp = tabela_relatorio_inadimp.text
# Processar o conteúdo de texto para criar uma lista de linhas
linhas_relatorio = tabela_relatorio_inadimp.split('\n')
# Processar cada linha para criar uma lista de colunas
dados_relatorio_inadimp = [linha.split() for linha in linhas_relatorio]
# Criar o DataFrame
df_relatorio_inadimp = pd.DataFrame(dados_relatorio_inadimp)
# Exibir o DataFrame
print(df_relatorio_inadimp.head(5))

           0     1     2           3      4      5      6         7       8   \
0           #  None  None        None   None   None   None      None    None
1   Condômino  None  None        None   None   None   None      None    None
2  Observação   Mês  Ref.  Vencimento  Valor  Juros  Multa  Correção  Devido
3       BLOCO   01,    N°           1   (01)   None   None      None    None
4     8652033  None  None        None   None   None   None      None    None

     9   ...    59    60    61    62    63    64    65    66    67    68
0  None  ...  None  None  None  None  None  None  None  None  None  None
1  None  ...  None  None  None  None  None  None  None  None  None  None
2  None  ...  None  None  None  None  None  None  None  None  None  None
3  None  ...  None  None  None  None  None  None  None  None  None  None
4  None  ...  None  None  None  None  None  None  None  None  None  None

[5 rows x 69 columns]

In [60]:
#### FUNÇÕES SCRAPPING ####

# for condo in range(1):

print("*" * 30, condo, "*" * 30)
print( )
print ("RESUMO DA INADIMPLÊNCIA")
scrapp_resumo(condo)

print("*" * 80)
print( )
print ("RELATÓRIO")
scrapp_relatorio(condo)

###########################

****************************** 0 ******************************

RESUMO DA INADIMPLÊNCIA

            0              1           2           3           4
0        Data           Base  29/06/2023        None        None
1    Unidades  Inadimplentes          28    (28,00%)        None
2       Valor          Total          R$  120.765,66        None
3       Valor          Total       Juros          R$   38.204,34
4       Valor          Total       Multa          R$    2.801,51
5       Valor          Total    Correção          R$   19.328,66
6       Valor          Total      Devido          R$  181.100,17
7  Quantidade             de     Faturas         359        None

********************************************************************************

RELATÓRIO

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,#,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Condômino,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Observação,Mês,Ref.,Vencimento,Valor,Juros,Multa,Correção,Devido,None,...,None,None,None,None,None,None,None,None,None,None
3,BLOCO,"01,",N°,1,(01),None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,8652033,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None